{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<h1 >Mot de passe oublié</h1>
<section class="formlog">
    

    {{form_start (emailForm)}}
       {{form_widget (emailForm)}}
    {{form_end (emailForm)}}
</section>
{% endblock %}