{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block upperheader %}
<div class="header_image">
    <img src="{{asset('images/background_ruine.jpg')}}" alt="">
</div>
{% endblock %}
{% block body %}


<section class="formlog">
    

    {{form_start (emailForm)}}
    <h1 >Mot de passe oublié</h1>
       {{form_widget (emailForm)}}
    {{form_end (emailForm)}}
</section>
{% endblock %}