{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block upperheader %}
<div class="header_image">
    <img src="{{asset('images/background_city.jpg')}}" alt="">
</div>
{% endblock %}
{% block body %}


<section class="formlog">
   
    {{form_start (form)}}
    <h1>Inscription</h1>
        {{form_widget (form)}}
        <button>Valider</button>
    {{form_end (form)}}
</section>
{% endblock %}
