{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
<section class="formlog">
   
    {{form_start (form)}}
        {{form_widget (form)}}
        <button>Valider</button>
    {{form_end (form)}}
</section>
{% endblock %}
