{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hellow
        {% if app.user %} 
        {{app.user.username}}
        {% endif %} 
    </h1>
{% endblock %}
