{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block upperheader %}
<div class="header_image">
    <img src="{{asset('images/background_village.jpg')}}" alt="">
</div>
{% endblock %}
{% block body %}
    <h1>Hellow
        {% if app.user %} 
        {{app.user.username}}
        {% endif %} 
    </h1>
{% endblock %}
