header{
    background-color:$color1;
    height: 10vh;
    padding:1em;
    @include flex(flex-start);

    ul{
        @include flex(center);
        width: 100%;

        li{
            padding:1em;
        }
        
        a{
            color:white;
            font-size: 25px;
            font-family: medievalsharp;
            font-weight: 700;
            transition:all 0.5s ease-in-out;

            &:hover{
                color:rgb(119, 34, 34);
            }
        }
    }
}

