@media screen and (max-width: 840px) {
// ZONE FILTER MEDIAQUERY
    main{
        padding-left: 0px;

        .filter{
            padding: 7vh 0 0 0;
            left:0px;
            top:0px;
            width: 100%;
            height: 200px;
            background-color: #F2F1F1;
            position:fixed;

            form[name="survivant_filter"]{
                flex-direction: row;
                justify-content:space-between;
            }

            button{
                position:absolute;
                bottom:5px;
                left:50%;
                transform:translateX(-50%);
            }
        }    
    }

    // ZONE SURVIVANT MEDIAQUERY
    #survivants{
        flex-direction: column;
        flex-wrap: nowrap;
      
        margin-top: 150px;

    }

    #survivant_filter_ClasseName {
        // transform-origin:left;
        // transform:rotate(-90deg) translate(-29px,-45px);
        // height: 65vw;
        // flex-wrap: nowrap;

        label{
            // width: 20px;
           visibility: hidden;
        }
        
    }

    form button{
        width: auto;
    }

    main .filter .class_checkbox{
    @include flex();
    top:110px;
    left:240px;

    li{
        margin-right: 10px;
    }
  
}
}

@media screen and (max-width: 620px) {

    main .filter form[name=survivant_filter]{
        flex-direction: column ;
        justify-content: flex-start ;
        padding-top: 1em;
    }

    main .filter{
        height: 250px;
    }
    main .filter form[name=survivant_filter] div{
        flex-direction: column;
    }



    #survivants article{
        flex-direction: column;
        width: 400px;
    }

    main .filter .class_checkbox{
        left:50%;
        top:120px;
        transform:translateX(-50%);
    }

    header{
        background-color:unset;

        nav ul{
            // opacity:0;
            position:fixed;
            height: 0px;
            top:65px;
            flex-direction: column;
            align-items: flex-end;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            // clip: rect(auto, auto, auto, auto);
            

            li{
                border:1px solid white;
                width: 250px;
                background-color: $color1;
            }
        }
    }
    
    main .filter {
        padding-top:0;
        height: 200px;
    }

    header .btn_menu{
        display:block;
        color:$color3;
        font-size:25px;
        background-color: $color1;
        padding:4px;
        border-radius: 2px;
        position:fixed;
        top:1em;
        right:8px;
    }

    article ul li span{
        display:none;
    }
}