main{
    padding-left: 200px;
// FILTER STYLE

    #survivant_filter_ClasseName input{
        visibility: hidden;
    }

    .filter{
        padding: 7vh 0 0 1em;
        left:0px;
        top:0px;
        width: 200px;
        height: 100%;
        background-color: #F2F1F1;
        position:fixed;
        z-index: 2;

        .class_checkbox{
            position:absolute;
            left:20px;
            top:340px;

            li{
                margin-bottom: 5px;
            }
        }

        img{
            width: 25px;
            padding:2px;
            border:1px solid $color2;
            
        }

        .cb_background{
            background-color: $color3;
        }

        form[name="survivant_filter"]{
    
            width:100%;
            height: 100%;
            @include flex(space-around);
            flex-direction: column;

        div{

            &:first-child{
                @include flex(center);
                flex-direction: column;
            }
                @include flex();
                width:200px;
                flex-wrap: wrap;
            
                label{
                    width: 60%;
                    margin:0.5em 0 0.5em 0;
                    text-align:center;
                }

                #survivant_filter_ClasseName label{
                    text-align: left;
                }

                input{
                    width: 30%;
                }
                select{
                    width: 70%;
                }
            }
        }
    } 
}

// SURVIVANT STYLE PART
#survivants{
    @include flex(space-between);
    flex-wrap: wrap;
}

article {
    @include flex(flex-start);
    width: 600px;
    padding:1em;
    border:1px solid rgb(214, 213, 213);
    margin-bottom: 2em;

    .portrait{
        position:relative;
        

        img{
            height: 260px;
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }

        .story{
            font-size: 20px;
            position: fixed;
            display:block;
            top:50%;
            left:50%;
            width: 100%;
            height: 100%;
            transform:translate(-50%,-50%);
            visibility:hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 50;
            font-weight: 500;
            backdrop-filter: blur(5px);
            @include flex();

            h3, em{
                font-family: medievalsharp;
            }

            // &::before{
            //     content:"";
            //     background-color: red;
            //     z-index: 40;
            //     position:fixed;
            //     height: 100%;
            //     width: 100%;
            // }

            &:hover{
                cursor:pointer;
            }

            .text {
                background-color: $color3;
                padding: 2em 2em;
                max-width: 600px;
                border: 1px solid $color2;
            }


        }

        .storyVisible{
            visibility: visible;
            opacity:1;
        }

        &:hover img{
            opacity: 50%;
            cursor: pointer;
        }

        p{
            display:block;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            background:$color3;
            border:1px solid $color2;
            padding:1em 1.5em;
            font-family: medievalsharp;
            font-weight: 400;
            opacity:0;
            transition: all 0.3s ease-in-out;

        }

        &:hover p{
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }

    }

   

    .details{
        padding:1em;
    }

    ul{
        margin-top:1em;
        width:240px ;

        li{
            position:relative;
            cursor:pointer;
            z-index: 1;
            margin:2px 0 0 2px;
            position:relative;
            // transition: all 0.3s ease-in-out;

            &:before{
                content:"";
                position:absolute;
                top:0px;
                right:0px;
                height: 1px;
                width: 0px;
                transition:all 0.3s ease-in-out;
            }

            span{
                // display:none;
                visibility: hidden;
                position:absolute;
                background-color: rgb(227, 227, 227);
                box-shadow: 0px 0px 6px black;
                z-index: 2;
                padding:1em;
                width: 250px;
                right:100%;
                top:0;
                opacity:0%;
                transition:opacity 0.3s ease-in-out;
            }

            &:hover span{
                visibility: visible;
                opacity:100%;
            }
        }
    }

    .blue{
        background: linear-gradient(90deg, rgba(2,0,36,0) 50%, rgba(9,9,121,0.26) 80%, rgba(9,9,121,1) 100%);
        border-bottom:1px solid rgb(9,9,121);
        &:before{
            background-color: rgb(9,9,121);
        }
        
    }
    .yellow{
        background: linear-gradient(90deg, rgba(2,0,36,0) 50%, rgba(149, 177, 13, 0.26) 80%, rgb(204, 218, 15) 100%);
        border-bottom:1px solid rgb(204, 218, 15);
        margin-bottom: 6px;
        margin-top:6px;
        &:before{
            background-color: rgb(204, 218, 15);
        }

    }
    .orange{
        background: linear-gradient(90deg, rgba(2,0,36,0) 50%, rgba(156, 86, 11, 0.26) 80%, rgb(156, 86, 11) 100%);
        border-bottom:1px solid rgb(156, 86, 11);
        &:before{
            background-color: rgb(156, 86, 11);
        }
    }

    .orange2{
        margin-bottom: 6px;
    }

    .red{
        background: linear-gradient(90deg, rgba(2,0,36,0) 50%, rgba(168, 15, 15, 0.26) 80%, rgb(168, 15, 15) 100%);
        border-bottom:1px solid rgb(168, 15, 15);
        &:before{
            background-color: rgb(168, 15, 15);
        }
    }

}

.classlogo{
    @include flex(flex-start,center);
    width:100%;
    margin-top:1em;
    
    img{
        height: 25px;
        margin-right:2px;
    }

    a{
        margin-left:auto;
    }
}


li:hover::before{
    width: 100%;
}

