{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{table.tableName}}</h1>
    <section>
        
        {% for profil in table.profils %}
            <article>
                {{profil.player}}
                {% for survivant in profil.profilsurvivants %}
                    <p>{{survivant.nom}}</p>
                {% endfor %}

                {% if app.user.id == profil.player.id %}
                    <a href="{{ path('survivant_route',{'id' : profil.id}) }}">choisissez votre personnage</a>
                {% endif %}
                
            </article>
        {% endfor %}
      
    </section>

{% endblock %}
